<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-bottom: 1%; padding-top: 1%;">

    <a class="navbar-brand margin-pag-l" href="#">
        <img src="assets/images/WEB_ASH_Carpeta/Logo ASH/Logo ASH Ing y ProBlanco.png" alt="Logo Ash" class="logo">
    </a>

    <button style="color: white;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse margin-pag-r" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a data-scroll class="nav-link active whiteFont borderButton header-title" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a data-scroll class="nav-link active whiteFont borderButton header-title" href="#sec-1">Servicios</a>
            </li>
            <li class="nav-item">
                <a data-scroll class="nav-link active whiteFont borderButton header-title" href="#sec-2">Experiencia</a>
            </li>
            <li class="nav-item">
                <a data-scroll class="nav-link active whiteFont borderButton header-title" href="#sec-3">Clientes</a>
            </li>
            <li class="nav-item">
                <a data-scroll class="nav-link active whiteFont borderButton header-title" href="#sec-4">Nosotros</a>
            </li>
            <li class="nav-item">
                <a data-scroll class="nav-link active whiteFont borderButton header-title" href="#sec-5">Contáctanos</a>
            </li>
        </ul>
        <form class="form-inline me-2 searchInput" style="flex-flow: inherit !important">
            <div class="container-fluid searchInput">
                <div class="row">
                    <div class="col-12">
                        <input  autocomplete="off" class="form-control searchInput" name="search" [(ngModel)]="inputSearch" (ngModelChange)="onChange($event)"  placeholder="Search" aria-label="Search">
                       
                        <div *ngIf="search" class="search searchInput">
                            <div *ngFor="let titulo of this.newList">
                                <a data-scroll  class="dropdown-item searchInput" href="{{titulo.href}}">{{titulo.title}}</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="btn my-2 my-sm-0"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" style="color: white;">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg></div>
        </form>
    </div>
</nav>
