<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-bottom: 2%; padding-top: 2%;">

    <a class="navbar-brand" href="#">
        <img src="assets/images/WEB_ASH_Carpeta/Logo ASH/Logo ASH Ing y ProBlanco.png" alt="Logo Ash" class="logo">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active whiteFont" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active whiteFont" href="#">Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active whiteFont" href="#">Experiencia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active whiteFont" href="#">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active whiteFont" href="#">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active whiteFont" href="#">Contáctanos</a>
            </li>
        </ul>
        <form class="form-inline me-2" style="flex-flow: inherit !important">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn my-2 my-sm-0" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg></button>
        </form>
    </div>
</nav>