h3{
    color: #9a599e;
    font-family: Arvo, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    text-align: left;
}

p{
    color: #242753;
    font-family: Roboto, Arvo, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: left;  
}

.button-exp{
    width: 20%;
    min-width: 10rem;
    height: 3rem;
    font-family: Arvo, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #232751;
    border: 2px solid #232751;
}
