<!-- <a target="_blank"
    href="https://www.google.com/maps/place/Am%C3%A9rica+1014,+San+Bernardo,+Regi%C3%B3n+Metropolitana/@-33.5998852,-70.7152652,17z/data=!3m1!4b1!4m5!3m4!1s0x9662d94c4339b4ed:0x45338e3a30cf0f90!8m2!3d-33.5998897!4d-70.7130765?hl=es">
    <img src="assets/images/WEB_ASH_Carpeta/mapa.jpg" alt="Maps" class="maps">
</a> -->

<a _ngcontent-c10="" target="_blank" href="https://www.google.com/maps/place/Am%C3%A9rica+1014,+San+Bernardo,+Regi%C3%B3n+Metropolitana/@-33.5998852,-70.7152652,17z/data=!3m1!4b1!4m5!3m4!1s0x9662d94c4339b4ed:0x45338e3a30cf0f90!8m2!3d-33.5998897!4d-70.7130765?hl=es" class="align contenedorImagenes cursor" tabindex="0"><img
        _ngcontent-c10="" alt="Avatar" class="img-fluid image maps"
        src="assets/images/WEB_ASH_Carpeta/mapa.jpg">
    <div _ngcontent-c10="" class="container-fluid middleText">
        <div _ngcontent-c10="" class="text">
            <h1 _ngcontent-c10=""> Ver en mapa <i class="fas fa-map-marker-alt"></i></h1>
            
        </div>
    </div>
</a>