<img src="../../../assets/images/WEB ASH_Carpeta/Links/IMG_0034.jpg" alt="Imagen fondo" style="width: 100%;">

<div class="fondo-imagenes" style="height: 5rem;">
    <!-- fondo -->
</div>
<div class="container-fluid" style="background-color: white; padding-bottom:5%;">
    <div class="row">

        <div class="col-12 centrar-vertical" style="margin-top:2%; margin-bottom:2%;">
            <h2>
                Nuestos Clientes
            </h2>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-horizontal centrar-vertical">
            <img src="../../../assets/images/WEB ASH_Carpeta/Links/Schneider-Electric-Logo.jpg" alt="Logo Cliente"
                class="center-images-90 tamaño-fixed">
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-horizontal centrar-vertical">
            <img src="../../../assets/images/WEB ASH_Carpeta/Links/ABB-413x162_logo.png" alt="Logo Cliente"
                class="center-images-50 tamaño-fixed">
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-horizontal centrar-vertical">
            <img src="../../../assets/images/WEB ASH_Carpeta/Links/1200px-Codelco_logo.svg.png" alt="Logo Cliente"
                class="center-images-50 tamaño-fixed">
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-horizontal centrar-vertical">
            <img src="../../../assets/images/WEB ASH_Carpeta/Links/LogoMerval.PNG" alt="Logo Cliente"
                class="center-images-30 tamaño-fixed">
        </div>
    </div>
</div>

<div class="fondo-imagenes" style="height: 5rem;">
    <!-- fondo -->
</div>

<div class="container-fluid" style="background-color: white; padding-bottom:5%;">
    <div class="row">

        <div class="col-12 centrar-vertical" style="margin-top:2%; margin-bottom:2%;">
            <h2>
                Proveedores
            </h2>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 centrar-horizontal centrar-vertical">
            <img src="../../../assets/images/WEB ASH_Carpeta/Links/1200px-Aveva_logo.svg.png" alt="Logo Cliente"
                class="center-images-90 tamaño-fixed">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 centrar-horizontal centrar-vertical">
            <img src="../../../assets/images/WEB ASH_Carpeta/Links/Siemens-Logotipo-1991-presente.jpg"
                alt="Logo Cliente" class="center-images-70 tamaño-fixed">
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 centrar-horizontal centrar-vertical">
            <img src="../../../assets/images/WEB ASH_Carpeta/Links/img_0248.png" alt="Logo Cliente"
                class="center-images-70 tamaño-fixed">
        </div>

    </div>
</div>

<div class="fondo-imagenes" style="height: 5rem;">
    <!-- fondo -->
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-6" style="background-color: #9a599d;">
            <div class="container margin-left-5">
                <div class="image-container margin-top-3">
                    <img src="../../../assets/images/WEB ASH_Carpeta/Iconos/1x/Proyecto.png" alt="proyecto"
                        class="tamaño-imagen-proyectos" style="width: auto;">
                </div>

                <h3 class="whiteFont margin-top-3">Tienes algún proyecto?</h3>
                <button type="button" class="btn btn-outline-light margin-top-3 margin-bottom-3 distancia-fixed"
                    style="width: 30%; min-width: 15rem;">Ponte en contacto</button>
            </div>

        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6" style="background-color: #232751;">
            <div class="container margin-left-5">
                <div class="image-container margin-top-3">
                    <img src="../../../assets/images/WEB ASH_Carpeta/Iconos/1x/Trabajo.png" alt="proyecto"
                        class="tamaño-imagen-proyectos" style="width: auto;">
                </div>
                <h3 class="whiteFont margin-top-3">Quieres trabajar con nosotros?</h3>
                <button type="button" class="btn btn-outline-light margin-top-3 margin-bottom-3"
                    style="width: 30%; min-width: 15rem;">Enviar cv</button>
            </div>
        </div>
    </div>
</div>


<div class="fondo-titulo" style="height: 20rem;">
    <h1 class="whiteFont centrar-vertical centrar-horizontal" style="padding-top: 9rem; z-index: 1000; position: inherit;">Servicios</h1>
    <div class="layer">
    </div>
</div>

<div class="fondo-tarjetas">
    <div class="container-fluid" style="padding-top: 13rem;">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-vertical">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-vertical">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-vertical">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-vertical">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>

</div>

<div class="fondo-titulo" style="height: 20rem;">
    <h1 class="whiteFont centrar-vertical centrar-horizontal" style="padding-top: 9rem; z-index: 1000; position: inherit;">Experiencia</h1>
    <div class="layer">
    </div>
</div>