<div class="container-fluid">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-4 col-lg-4" style="margin-top:5%">
            <div class="row">

                <div class="col-12">
                    <img src="/assets/images/WEB_ASH_Carpeta/Iconos/1x/globo.jpg" alt=""
                        style="width: 100%; height: auto;">
                </div>
                <div class="col-12">
                    <img src="../../../../assets/images/WEB_ASH_Carpeta/Links/LogoMerval.PNG" alt="" class="centar-cubo"
                        style="width: 20%; height: auto;">
                </div>
                <div class="col-12" style="margin-top: 8%;">
                    <h3 class="texto-cubo">Ingenería, montajes y constructoras</h3>
                    <p>
                        -Empresa de Ingeniería Puga Mujica y Asociados
                        S.A.
                        <br>
                        -Empresa de Ingeniería Ingendesa S.A.
                        <br>
                        -Empresa de Ingeniería B y R
                        <br>
                        -Door Oliver Eimco S.A.
                        <br>
                        -Empresa de Montajes Industriales Salfa S.A.
                        <br>
                        -Montajes TECSA S.A.
                        <br>
                        -Constructora Del Rio Asociados
                        <br>
                        -Constructora Liolaemus
                        <br>
                        -Chesta Ingeniería S.A.
                        <br>
                        - Bormax S.A.
                    </p>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4" style="margin-top:5%">
            <div class="row">

                <div class="col-12">
                    <img src="/assets/images/WEB_ASH_Carpeta/Iconos/1x/globo.jpg" alt=""
                        style="width: 100%; height: auto;">
                </div>
                <div class="col-12">
                    <img src="../../../../assets/images/WEB_ASH_Carpeta/Links/LogoMerval.PNG" alt="" class="centar-cubo"
                        style="width: 20%; height: auto;">
                </div>
                <div class="col-12" style="margin-top: 8%;">
                    <h3 class="texto-cubo">Ingenería, montajes y constructoras</h3>
                    <p>
                        -Empresa de Ingeniería Puga Mujica y Asociados
                        S.A.
                        <br>
                        -Empresa de Ingeniería Ingendesa S.A.
                        <br>
                        -Empresa de Ingeniería B y R
                        <br>
                        -Door Oliver Eimco S.A.
                        <br>
                        -Empresa de Montajes Industriales Salfa S.A.
                        <br>
                        -Montajes TECSA S.A.
                        <br>
                        -Constructora Del Rio Asociados
                        <br>
                        -Constructora Liolaemus
                        <br>
                        -Chesta Ingeniería S.A.
                        <br>
                        - Bormax S.A.
                    </p>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4" style="margin-top:5%; margin-bottom:10%">
            <div class="row">

                <div class="col-12">
                    <img src="/assets/images/WEB_ASH_Carpeta/Iconos/1x/globo.jpg" alt=""
                        style="width: 100%; height: auto;">
                </div>
                <div class="col-12">
                    <img src="../../../../assets/images/WEB_ASH_Carpeta/Links/LogoMerval.PNG" alt="" class="centar-cubo"
                        style="width: 20%; height: auto;">
                </div>
                <div class="col-12" style="margin-top: 8%;">
                    <h3 class="texto-cubo">Ingenería, montajes y constructoras</h3>
                    <p>
                        -Empresa de Ingeniería Puga Mujica y Asociados
                        S.A.
                        <br>
                        -Empresa de Ingeniería Ingendesa S.A.
                        <br>
                        -Empresa de Ingeniería B y R
                        <br>
                        -Door Oliver Eimco S.A.
                        <br>
                        -Empresa de Montajes Industriales Salfa S.A.
                        <br>
                        -Montajes TECSA S.A.
                        <br>
                        -Constructora Del Rio Asociados
                        <br>
                        -Constructora Liolaemus
                        <br>
                        -Chesta Ingeniería S.A.
                        <br>
                        - Bormax S.A.
                    </p>
                </div>
            </div>

        </div>




    </div>
</div>