<div class="container-fluid padding-pag-l-12 padding-pag-r-12">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-4 col-lg-4" style="margin-top:5%">
            <div class="row">

                <div class="col-12">
                    <img src="assets/images/WEB_ASH_Carpeta/Iconos/1x/globo.jpg" alt=""
                        style="width: 100%; height: auto;">
                </div>
                <div class="col-12">
                    <img src="assets/images/WEB_ASH_Carpeta/Links/LogoMerval.PNG" alt="" class="centar-cubo"
                        style="width: 20%; height: auto;">
                </div>
                <div class="col-12" style="margin-top: 8%;">
                    <h3 class="texto-cubo">Ingenería, montajes y constructoras</h3>
                    <p>
                        -Empresa de Ingeniería Puga Mujica y Asociados
                        S.A.
                        <br>
                        -Empresa de Ingeniería Ingendesa S.A.
                        <br>
                        -Empresa de Ingeniería B y R
                        <br>
                        -Door Oliver Eimco S.A.
                        <br>
                        -Empresa de Montajes Industriales Salfa S.A.
                        <br>
                        -Montajes TECSA S.A.
                        <br>
                        -Constructora Del Rio Asociados
                        <br>
                        -Constructora Liolaemus
                        <br>
                        -Chesta Ingeniería S.A.
                        <br>
                        - Bormax S.A.
                    </p>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4" style="margin-top:5%">
            <div class="row">

                <div class="col-12">
                    <img src="assets/images/WEB_ASH_Carpeta/Iconos/1x/globo.jpg" alt=""
                        style="width: 100%; height: auto;">
                </div>
                <div class="col-12">
                    <img src="assets/images/WEB_ASH_Carpeta/Links/LogoMerval.PNG" alt="" class="centar-cubo"
                        style="width: 20%; height: auto;">
                </div>
                <div class="col-12" style="margin-top: 8%;">
                    <h3 class="texto-cubo">Sanitarias</h3>
                    <p>
                        -Empresa Sanitaria de Valparaíso (ESVAL)
                        <br>
                        -Empresa de Servicios Sanitarios del Maule
                        (ESSAM)
                        <br>
                        -Empresa de Agua Potable Aguas Quinta
                        <br>
                    </p>
                    <h3>Químicas</h3>
                    <p>
                        -Química del Borax S.A.
                        <br>
                        -Interacid Chile Ltda.
                        <br>
                        -Interacid Trading S.A.
                        <br>
                    </p>
                    <h3>Mineria</h3>
                    <p>
                        -Codelco Chile Divisiones Andina, El Teniente,
                        Salvador
                        <br>
                        -Anglo American Sur
                        <br>
                        -Minera El Soldado

                    </p>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4" style="margin-top:5%; margin-bottom:10%">
            <div class="row">

                <div class="col-12">
                    <img src="assets/images/WEB_ASH_Carpeta/Iconos/1x/globo.jpg" alt=""
                        style="width: 100%; height: auto;">
                </div>
                <div class="col-12">
                    <img src="assets/images/WEB_ASH_Carpeta/Links/LogoMerval.PNG" alt="" class="centar-cubo"
                        style="width: 20%; height: auto;">
                </div>
                <div class="col-12" style="margin-top: 8%;">
                    <h3 class="texto-cubo">Puertos y pesqueras</h3>
                    <p>
                        -Pesquera IGmar S.A. (Iquique - Guanaye)
                        <br>
                        -Pesquera del Norte
                        <br>
                        -STI Terminal Internacional
                        <br>
                    </p>
                    <h3>Industrias y comerciales</h3>
                    <p>
                        -Compañía Siderúrgica Huachipato S.A. (CSH)
                        <br>
                        -Bermat S.A.
                        <br>
                        -Maderas y Sintéticos Sociedad Anónima, MASISA
                        <br>
                        -Schneider Electric Chile S.A.
                        <br>
                        -Etersol S.A.
                        <br>
                        -Pirelli S.A.
                        <br>
                        -Radiotronica S.A.
                        <br>
                        -Papeles Norske Skog Bio-Bio.
                </div>
            </div>

        </div>




    </div>
</div>