<div class="col-12 centrar-vertical" style="margin-top:5%; margin-bottom:2%;">
    <h1>
        Proveedores
    </h1>
</div>
<div id="carouselExampleControls2" class="carousel slide margin-pag-l-11 margin-pag-r-11" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">

            <div class="container-fluid carousel-logos">
                <div class="row">
            
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-horizontal centrar-vertical">
                        <img src="assets/images/WEB_ASH_Carpeta/Logo Proveedores/ABB.png" alt="Logo Cliente"
                            class="center-images-50 tamaño-fixed">
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-horizontal centrar-vertical">
                        <img src="assets/images/WEB_ASH_Carpeta/Logo Proveedores/AVEVA.png" alt="Logo Cliente"
                            class="center-images-50 tamaño-fixed">
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-horizontal centrar-vertical">
                        <img src="assets/images/WEB_ASH_Carpeta/Logo Proveedores/General Electric.png" alt="Logo Cliente"
                            class="center-images-70 tamaño-fixed">
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-horizontal centrar-vertical">
                        <img src="assets/images/WEB_ASH_Carpeta/Logo Proveedores/Pelco.png" alt="Logo Cliente"
                            class="center-images-50 tamaño-fixed">
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">


            <div class="container-fluid carousel-logos">
                <div class="row">
            
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-horizontal centrar-vertical">
                        <img src="assets/images/WEB_ASH_Carpeta/Logo Proveedores/Phoenix Contact.png" alt="Logo Cliente"
                            class="center-images-90 tamaño-fixed">
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-horizontal centrar-vertical">
                        <img src="assets/images/WEB_ASH_Carpeta/Logo Proveedores/Rittal.png" alt="Logo Cliente"
                            class="center-images-50 tamaño-fixed">
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-horizontal centrar-vertical">
                        <img src="assets/images/WEB_ASH_Carpeta/Logo Proveedores/Rockwell Automation.png" alt="Logo Cliente"
                            class="center-images-50 tamaño-fixed">
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-horizontal centrar-vertical">
                        <img src="assets/images/WEB_ASH_Carpeta/Logo Proveedores/Rockwell System Integrator.png" alt="Logo Cliente"
                            class="center-images-50 tamaño-fixed">
                    </div>
                </div>
            </div>


        </div>
        <div class="carousel-item">


            <div class="container-fluid carousel-logos">
                <div class="row">
            
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-horizontal centrar-vertical">
                        <img src="assets/images/WEB_ASH_Carpeta/Logo Proveedores/Schneider Aliance Integrator.png" alt="Logo Cliente"
                            class="center-images-50 tamaño-fixed">
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-horizontal centrar-vertical">
                        <img src="assets/images/WEB_ASH_Carpeta/Logo Proveedores/Schneider.png" alt="Logo Cliente"
                            class="center-images-90 tamaño-fixed">
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-horizontal centrar-vertical">
                        <img src="assets/images/WEB_ASH_Carpeta/Logo Proveedores/SIEMENS Aliance Integrator.png" alt="Logo Cliente"
                            class="center-images-50 tamaño-fixed">
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 centrar-horizontal centrar-vertical">
                        <img src="assets/images/WEB_ASH_Carpeta/Logo Proveedores/Siemens.png" alt="Logo Cliente"
                            class="center-images-50 tamaño-fixed">
                    </div>
                </div>
            </div>


        </div>

       
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
        <i class="fas fa-chevron-left color-slide fa-4x" style="margin-bottom: 25%;"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
        <i class="fas fa-chevron-right color-slide fa-4x" style="margin-bottom: 25%;"></i>
        <span class="sr-only">Next</span>
    </a>
</div>


