.carousel-logos{
    background-color: white;
    padding-bottom:5%; 
    padding-left: 10%; 
    padding-right: 10%;
}

h1{
    color: black;
    font-weight: bold;
    font-family: Arvo, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    top: 20px;
    text-align: center;
}


.color-slide{
    color:black;
}