<div class="fondo-tarjetas">
    <div class="container-fluid padding-pag-l-12 padding-pag-r-12">
        <div class="row">
            <div class="sin-padding col-12 col-sm-6 col-md-6 col-lg-3 centrar-vertical padding-bottom-5 padding-top-5 tamaño-tarjetas-fixed-t"
                style="height: fit-content;">

                <div class="card" style="width: 90%; border-radius: 25px;">
                    <img src="assets/images/WEB_ASH_Carpeta/Iconos/1x/Asesorías.png"
                        class="card-img-top centrar-tarjeta" alt="asesorias" style="width:min-content;">
                    <div class="card-body">
                        <h2 class="card-title">Asesorías, estudios, desarrollo de ingeniería de detalle y software</h2>
                        <p *ngIf="!this.cardBoolean1" class="card-text animate__animated animate__fadeIn carta1">
                            Desde el inicio de sus operaciones, ASH Ingeniería y proyectos ha realizado diversos
                            trabajos de asesoría, estudios de ingeniería, ingeniería de desarrollo, desarrollo de
                            software, telecomunicaciones, , destacándose los siguientes servicios:</p>
                        <p *ngIf="this.cardBoolean1" class="card-text animate__animated animate__fadeIn carta1">
                            Desde el inicio de sus operaciones, ASH Ingeniería y proyectos ha realizado diversos
                            trabajos de asesoría, estudios de ingeniería, ingeniería de desarrollo, desarrollo de
                            software, telecomunicaciones, , destacándose los siguientes servicios:
                            <br>
                            <br>
                            • Proyectos de ingeniería de detalles en electricidad, instrumentación y control de procesos
                            industriales.
                            <br>
                            <br>
                            • Especificaciones y selección de equipos e Instrumentos y sistemas de control, tales como:
                            <br>
                            <br>
                            • Integración y suministro de sistemas para la automatización industrial.
                            <br>
                            <br>
                            • Evaluación, análisis y optimización de sistemas de instrumentación existentes
                            <br>
                            <br>
                            • Desarrollo e implementación de sistemas de monitoreo: Ambiental e Industrial.
                            <br>
                            <br>
                            • Estudios de Factibilidad Técnica y Económica de Sistemas de Control Industrial y Diseño de
                            Estrategias de Control.
                            .
                        </p>
                        <button *ngIf="!this.cardBoolean1" (click)="card1()" class="btn btn-outline-secondary"
                            style="width: -webkit-fill-available;">Ver
                            más</button>
                    </div>
                </div>

            </div>
            <div class="sin-padding col-12 col-sm-6 col-md-6 col-lg-3 centrar-vertical padding-bottom-5 padding-top-5"
                style="height: fit-content;">
                <div class="card" style="width: 90%; border-radius: 25px;">
                    <img src="assets/images/WEB_ASH_Carpeta/Iconos/1x/Control.png" class="card-img-top centrar-tarjeta"
                        alt="Control de procesos" style="width: min-content;">
                    <div class="card-body">
                        <h2 class="card-title">Desarrollo de software para la industria</h2>
                        <p *ngIf="!this.cardBoolean2" class="card-text animate__animated animate__fadeIn carta2">
                            Análisis, modelación, diseño y desarrollo de software, sistemas de Información para
                            programación y control de actividades productivas e industriales....</p>
                        <p *ngIf="this.cardBoolean2" class="card-text animate__animated animate__fadeIn carta2">
                            Análisis, modelación, diseño y desarrollo de software, sistemas de Información para
                            programación y control de actividades productivas e industriales.
                            <br>
                            Experiencia en desarrollo de software industrial Ad-hoc, desarrollo adaptado a los
                            requerimientos y necesidades con uso de tecnología y lenguajes de programación avanzada.
                            <br>
                            Desarrollo modular que permite incorporar nuevas funcionalidades y crecimiento en el tiempo.
                            - Desarrollo e implementación de software para el control de procesos Industriales.
                            <br>
                            <br>
                            - Desarrollo de software para comunicaciones entre sistemas con protocolos y estándares
                            industriales.
                            <br>
                            <br>
                            - Desarrollo de interfaces intuitivas y fáciles de operar a nivel de aplicación o sobre
                            plataforma WEB, para control operacional, visualización de datos simplificada usando módulos
                            Dash-Board.
                        </p>
                        <button *ngIf="!this.cardBoolean2" (click)="card2()" class="btn btn-outline-secondary"
                            style="width: -webkit-fill-available;">Ver más</button>
                    </div>
                </div>
            </div>
            <div class="sin-padding col-12 col-sm-6 col-md-6 col-lg-3 centrar-vertical padding-bottom-5 padding-top-5"
                style="height: fit-content;">
                <div class="card" style="width: 90%; border-radius: 25px;">
                    <img src="assets/images/WEB_ASH_Carpeta/Iconos/1x/Montaje.png" class="card-img-top centrar-tarjeta"
                        alt="Montaje eléctrico" style="width: min-content;">
                    <div class="card-body">
                        <h2 class="card-title">Montaje eléctrico e
                            instrumentación
                        </h2>
                        <p *ngIf="!this.cardBoolean3" class="card-text animate__animated animate__fadeIn carta3">
                            Experiencia en el desarrollo de proyectos industriales en montajes eléctricos e
                            instrumentación...</p>
                        <p *ngIf="this.cardBoolean3" class="card-text animate__animated animate__fadeIn carta3">
                            Experiencia en el desarrollo de proyectos industriales en montajes eléctricos e
                            instrumentación.
                            <br>
                            <br>
                            - Asesorías, Proyectos y Montajes Eléctricos.
                            <br>
                            <br>
                            - Montaje, instalación y calibración de equipos e instrumentos en la especialidad de
                            Electricidad e Instrumentación.
                            <br>
                            <br>
                            - Suministro e integración de tableros de fuerza, control e instrumentación.
                            <br>
                            <br>
                            - Proyecto, Montaje y Supervisión de Redes de Fibra Óptica
                            <br>
                            <br>
                            - Montajes de Sistemas Celulares.
                            <br>
                            <br>
                            - Realización de Proyectos Eléctricos y de Telecomunicaciones
                            <br>
                            <br>
                            - Realización de Proyectos de Telemetría y Telecontrol.
                        </p>
                        <button *ngIf="!this.cardBoolean3" (click)="card3()" class="btn btn-outline-secondary"
                            style="width: -webkit-fill-available;">Ver más</button>
                    </div>
                </div>
            </div>
            <div class="sin-padding col-12 col-sm-6 col-md-6 col-lg-3 centrar-vertical padding-bottom-5 padding-top-5 tamaño-tarjetas-fixed-b"
                style="height: fit-content;">
                <div class="card" style="width: 90%; border-radius: 25px;">
                    <img src="assets/images/WEB_ASH_Carpeta/Iconos/1x/Gabinetes.png"
                        class="card-img-top centrar-tarjeta" alt="Fuerza y control" style="width: min-content;">
                    <div class="card-body">
                        <h2 class="card-title">Integración de fuerza y
                            control
                        </h2>
                        <p *ngIf="!this.cardBoolean4" class="card-text animate__animated animate__fadeIn carta4">
                            Área dedicada para la integración de tableros y gabinetes de fuerza y control, así como
                            también técnicos especialistas e ingenieros de larga trayectoria para el desarrollo de esta
                            actividad....</p>
                        <p *ngIf="this.cardBoolean4" class="card-text animate__animated animate__fadeIn carta4">
                            Área dedicada para la integración de tableros y gabinetes de fuerza y control, así como
                            también técnicos especialistas e ingenieros de larga trayectoria para el desarrollo de esta
                            actividad.
                            <br>
                            <br>
                            - Integración de tableros de control industrial.
                            <br>
                            <br>
                            - Integración de tablero de fuerza.
                            <br>
                            <br>
                            - Integración de centro de control de motores CCM
                            <br>
                            <br>
                            - Integración de variadores de fuerza VDF.
                            <br>
                            <br>
                            - Integración de salas eléctricas.
                        </p>
                        <button *ngIf="!this.cardBoolean4" (click)="card4()" class="btn btn-outline-secondary"
                            style="width: -webkit-fill-available;">Ver más</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>