
<div class="fondo-tarjetas">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 centrar-vertical padding-bottom-5 padding-top-5 tamaño-tarjetas-fixed-t"
                style="height: auto;">

                <div class="card" style="width: 90%; border-radius: 25px;">
                    <img src="assets/images/WEB_ASH_Carpeta/Iconos/1x/Asesorías.png"
                        class="card-img-top centrar-tarjeta" alt="asesorias" style="width:min-content;">
                    <div class="card-body">
                        <h2 class="card-title">Asesorías, estudios,
                            desarrollo de ingenería
                            de detalle y software</h2>
                        <p *ngIf="!this.cardBoolean1" class="card-text animate__animated animate__fadeIn carta1">Lorem
                            ipsum dolor sit, amet consectetur
                            adipisicing elit. Quod, quam, harum expedita dolores quae eligendi sit...</p>
                        <p *ngIf="this.cardBoolean1" class="card-text animate__animated animate__fadeIn carta1">Lorem ipsum
                            dolor sit, amet consectetur
                            adipisicing elit. Quod, quam, harum expedita dolores quae eligendi sit molestias
                            reprehenderit provident eum veniam dolore repellendus quidem beatae enim officia
                            quisquam
                            iure ullam.</p>
                        <button *ngIf="!this.cardBoolean1" (click)="card1()" class="btn btn-outline-secondary"
                            style="width: -webkit-fill-available;">Ver
                            más</button>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 centrar-vertical padding-bottom-5 padding-top-5"
                style="height: auto;">
                <div class="card" style="width: 90%; border-radius: 25px;">
                    <img src="assets/images/WEB_ASH_Carpeta/Iconos/1x/Control.png"
                        class="card-img-top centrar-tarjeta" alt="Control de procesos" style="width: min-content;">
                    <div class="card-body">
                        <h2 class="card-title">Control de procesos
                            industriales</h2>
                        <p *ngIf="!this.cardBoolean2" class="card-text animate__animated animate__fadeIn carta2">Lorem ipsum
                            dolor sit, amet consectetur
                            adipisicing elit. Quod, quam, harum expedita dolores quae eligendi sit...</p>
                        <p *ngIf="this.cardBoolean2" class="card-text animate__animated animate__fadeIn carta2">Lorem ipsum
                            dolor sit, amet consectetur
                            adipisicing elit. Quod, quam, harum expedita dolores quae eligendi sit molestias
                            reprehenderit provident eum veniam dolore repellendus quidem beatae enim officia quisquam
                            iure ullam.</p>
                        <button *ngIf="!this.cardBoolean2" (click)="card2()" class="btn btn-outline-secondary"
                            style="width: -webkit-fill-available;">Ver más</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 centrar-vertical padding-bottom-5 padding-top-5"
                style="height: auto;">
                <div class="card" style="width: 90%; border-radius: 25px;">
                    <img src="assets/images/WEB_ASH_Carpeta/Iconos/1x/Montaje.png"
                        class="card-img-top centrar-tarjeta" alt="Montaje eléctrico" style="width: min-content;">
                    <div class="card-body">
                        <h2 class="card-title">Montaje eléctrico e
                            instrumentación</h2>
                        <p *ngIf="!this.cardBoolean3" class="card-text animate__animated animate__fadeIn carta3">Lorem ipsum
                            dolor sit, amet consectetur
                            adipisicing elit. Quod, quam, harum expedita dolores quae eligendi sit...</p>
                        <p *ngIf="this.cardBoolean3" class="card-text animate__animated animate__fadeIn carta3">Lorem ipsum
                            dolor sit, amet consectetur
                            adipisicing elit. Quod, quam, harum expedita dolores quae eligendi sit molestias
                            reprehenderit provident eum veniam dolore repellendus quidem beatae enim officia quisquam
                            iure ullam.</p>
                        <button *ngIf="!this.cardBoolean3" (click)="card3()" class="btn btn-outline-secondary"
                            style="width: -webkit-fill-available;">Ver más</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 centrar-vertical padding-bottom-5 padding-top-5 tamaño-tarjetas-fixed-b"
                style="height: auto;">
                <div class="card" style="width: 90%; border-radius: 25px;">
                    <img src="assets/images/WEB_ASH_Carpeta/Iconos/1x/Gabinetes.png"
                        class="card-img-top centrar-tarjeta" alt="Fuerza y control" style="width: min-content;">
                    <div class="card-body">
                        <h2 class="card-title">Integración de
                            gabinetes de fuerza y
                            control</h2>
                        <p *ngIf="!this.cardBoolean4" class="card-text animate__animated animate__fadeIn carta4">Lorem ipsum
                            dolor sit, amet consectetur
                            adipisicing elit. Quod, quam, harum expedita dolores quae eligendi sit...</p>
                        <p *ngIf="this.cardBoolean4" class="card-text animate__animated animate__fadeIn carta4">Lorem ipsum
                            dolor sit, amet consectetur
                            adipisicing elit. Quod, quam, harum expedita dolores quae eligendi sit molestias
                            reprehenderit provident eum veniam dolore repellendus quidem beatae enim officia quisquam
                            iure ullam.</p>
                        <button *ngIf="!this.cardBoolean4" (click)="card4()" class="btn btn-outline-secondary"
                            style="width: -webkit-fill-available;">Ver más</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>