<div class="fondo-tarjetas">
    <div class="container-fluid padding-pag-l-12 padding-pag-r-12">
        <div class="row">

            <div *ngFor="let card of this.cards, index" id={{card.id}} class="sin-padding col-12 col-sm-6 col-md-6 col-lg-4 centrar-vertical padding-bottom-5 padding-top-5 tamaño-tarjetas-fixed-t"
                style="height: fit-content;">

                <div class="card" style="width: 90%; border-radius: 25px;">
                    <img src={{card.image}}
                        class="card-img-top centrar-tarjeta" alt="asesorias" style="width:min-content;">
                    <div class="card-body">
                        <h2 class="card-title" style="height: 8rem;">{{this.card.title}}</h2>
                        <a target="_blank" href={{card.link}} class="btn btn-outline-secondary"
                            style="width: -webkit-fill-available;">
                                Ver
                                más
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>