<div class="fondo-tarjetas">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 centrar-vertical padding-bottom-5 padding-top-5 tamaño-tarjetas-fixed-t"
                style="padding-left: 3%; padding-right: 3%;">
                <h5 class="font-nosotros">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis consequuntur beatae, nostrum
                    neque
                    eius deserunt tempora quasi ullam qui unde molestiae labore ad numquam, quas vero non voluptas
                    incidunt.
                    Molestias?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum quos dolore molestiae atque ipsum
                    vitae
                    animi assumenda tempore, error veritatis saepe illum omnis libero, laboriosam numquam sint sequi,
                    voluptatum quo.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis consequuntur beatae, nostrum
                    neque
                    eius deserunt tempora quasi ullam qui unde molestiae labore ad numquam, quas vero non voluptas
                    incidunt.
                    Molestias?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum quos dolore molestiae atque ipsum
                    vitae
                    animi assumenda tempore, error veritatis saepe illum omnis libero, laboriosam numquam sint sequi,
                    voluptatum quo.
                </h5>

            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 centrar-vertical padding-bottom-5 padding-top-5 tamaño-tarjetas-fixed-t"
                style="padding-left: 3%; padding-right: 3%;">
                <h5 class="font-nosotros">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis consequuntur beatae, nostrum
                    neque
                    eius deserunt tempora quasi ullam qui unde molestiae labore ad numquam, quas vero non voluptas
                    incidunt.
                    Molestias?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum quos dolore molestiae atque ipsum
                    vitae
                    animi assumenda tempore, error veritatis saepe illum omnis libero, laboriosam numquam sint sequi,
                    voluptatum quo.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis consequuntur beatae, nostrum
                    neque
                    eius deserunt tempora quasi ullam qui unde molestiae labore ad numquam, quas vero non voluptas
                    incidunt.
                    Molestias?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum quos dolore molestiae atque ipsum
                    vitae
                    animi assumenda tempore, error veritatis saepe illum omnis libero, laboriosam numquam sint sequi,
                    voluptatum quo.
                </h5>
            </div>
        </div>
    </div>
</div>
<div style="background-color: white;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 centrar-vertical padding-top-5 tamaño-tarjetas-fixed-t"
                style="padding-left: 3%; padding-right: 3%;">
                <div>
                    <h5 class="centrar-vertical font-titulos">Misión</h5>
                    <p>

                        Proveer a nuestros clientes de las mejores y más eficientes soluciones relacionadas con
                        sus necesidades especificas de electricidad industrial, automatizacón y servicios
                        asociados, respetando la seguridad y salud de nuestros trabajadores, colaboradores y
                        relacionados.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 centrar-vertical padding-top-5 tamaño-tarjetas-fixed-t"
                style="padding-left: 3%; padding-right: 3%;">
                <div>
                    <h5 class="centrar-vertical font-titulos">Visión</h5>
                    <p>

                        Lograr y mantener el liderazgo en el mercado, ser reconocidos como una de las
                        empresas del rubro más exitosas del pais. Ser la mejor opción en servicios,
                        instalaciones, equipos y comunicaciones. Consolidando la seguridad y confianza de
                        nuestros clientes y otras partes interesadas
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="padding: 5%">
    <div class="container-fluid" style="background-color: #9a599d; border-radius: 15px;">
        <div class="row" style="margin-right: 5%; margin-left: 5%;">
            <div class="col-12 centrar-vertical whiteFont padding-top-5">
                <h5 class="font-politica">POLITICA SGI</h5>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <p class="whiteFont">Identificamos los requerimientos de nuestros clientes y otras
                    partes interesadas relacionados con calidad, plazos y costos,
                    con la finalidad de cumplir sus expectativas. Mejoramos
                    constantemente nuestro sistema de gestión integrado para
                    acompañar la creciente demanda de productos y servicios.
                    <br>
                    <br>
                    Evaluamos y mejoramos de forma constante nuestros
                    estándares para brindar a nuestros trabajadores, contratistas
                    y partes interesadas un ambiente de trabajo adecuado y
                    seguro en el
                    desarrollo de nuestras tareas. Reconocemos las actividades
                    asociadas a la capacitación de nuestro personal como
                    herramienta fundamental para el alcance de objetivos.
                    <br>
                    <br>
                    Identificamos los requisitos legales asociados y aplicados a </p>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 padding-bottom-5">
                <p class="whiteFont">nuestras operaciones con la finalidad de comprometernos a
                    su gradual cumplimiento en las áreas de calidad y seguridad y
                    salud ocupacional.
                    <br>
                    <br>
                    Nuestra Política Integrada es de manejo público, aseguramos
                    que nuestro personal directo y contratistas conocen y aplican
                    dicha política y están comprometidos con su cumplimiento.
                    Aplicamos las herramientas organizacionales necesarias para
                    mantener y mejorar continuamente esta política, así como
                    nuestro SGI.
                    <br>
                    <br>
                    Se define el alcance de nuestro SGI como:
                    “Servicios en gestión de ingeniería, diseño, integración e
                    implementación de proyectos Eléctricos
                    y de Automatización, para la los sectores minero e industrial” </p>
                <br>
                <p class="whiteFont">
                    Gerente General
                    <br>
                    Juan Carlos Sandoval
                </p>
            </div>
        </div>
    </div>
</div>